SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER proc [dbo].[AutocalxDockByYos95New] 
@AllowSplit BIT = 0,  -- New parameter: 1 = allow splitting (original), 0 = no splitting
@iDate Date = NULL 
as
-- Existing table creation and initialization remains unchanged
IF OBJECT_ID('dbo.Deliveries') IS NOT NULL
    TRUNCATE TABLE dbo.Deliveries;
ELSE
    CREATE TABLE dbo.Deliveries (
        DeliveryID INT IDENTITY(1,1) PRIMARY KEY,
        ProductCode NVARCHAR(50),
        RecQtyCrate INT,
        Area NVARCHAR(50),
        TruckID NVARCHAR(50) NULL,
        PO_NO NVARCHAR(50) NULL,
        CV_CODE NVARCHAR(50) NULL,
        ProductType NVARCHAR(50) NULL
    );

INSERT INTO dbo.Deliveries (Area, ProductCode, RecQtyCrate, PO_NO, CV_CODE, ProductType)
SELECT LEFT(PO_NO, 2), a.PRODUCT_CODE
    , (CASE WHEN ISNULL(x.CollapQty,0) <> 0 THEN CEILING(SUM(CAST(TCA AS INT))/2.0) ELSE SUM(CAST(TCA AS INT)) END) x
    , PO_NO, a.CV_CODE, b.ProductType
FROM [SmartX-Dock].[dbo].[WTS_ORR2223Data] a 
LEFT JOIN [SmartX-Dock]..tblMasterCollap x ON x.Product_Code = a.PRODUCT_CODE
LEFT JOIN [SmartX-Dock].[dbo].[tblMasterProductSeq] b
    ON a.CV_CODE = b.CV_Code AND LEFT(PO_NO, 2) = b.WH 
WHERE DELIVERY_DATE = @iDate
    AND TCA IS NOT NULL 
    AND TRY_CAST(TCA AS INT) > 0
GROUP BY LEFT(PO_NO, 2), PO_NO, a.CV_CODE, a.PRODUCT_CODE, b.ProductType, x.CollapQty
ORDER BY LEFT(PO_NO, 2), PO_NO, a.CV_CODE, b.ProductType
OPTION (RECOMPILE);

IF OBJECT_ID('TblSplitDeliveries') IS NOT NULL
    TRUNCATE TABLE TblSplitDeliveries;
ELSE
    CREATE TABLE TblSplitDeliveries (
        DeliveryID INT IDENTITY(1,1) PRIMARY KEY,
        ProductCode NVARCHAR(50),
        RecQtyCrate INT,
        Area NVARCHAR(50),
        TruckID NVARCHAR(50),
        OriginalProductCode NVARCHAR(50),
        PO_NO NVARCHAR(50) NULL,
        CV_CODE NVARCHAR(50) NULL,
        INDEX IX_TblSplitDeliveries_TruckID_Area NONCLUSTERED (TruckID, Area)
    );

INSERT INTO TblSplitDeliveries (ProductCode, RecQtyCrate, Area, TruckID, OriginalProductCode, PO_NO, CV_CODE)
SELECT ProductCode, RecQtyCrate, Area, NULL, ProductCode, PO_NO, CV_CODE
FROM dbo.Deliveries
ORDER BY PO_NO, CV_CODE, ProductType;

-- Temporary tables setup remains unchanged
IF OBJECT_ID('tempdb..#POTracking') IS NOT NULL
    TRUNCATE TABLE #POTracking;
ELSE
    CREATE TABLE #POTracking (
        PO_NO NVARCHAR(50),
        TotalCrates INT,
        AssignedCrates INT DEFAULT 0,
        IsCompleted BIT DEFAULT 0
    );

INSERT INTO #POTracking (PO_NO, TotalCrates)
SELECT PO_NO, SUM(RecQtyCrate)
FROM TblSplitDeliveries
GROUP BY PO_NO;

IF OBJECT_ID('tempdb..#TruckTypes') IS NOT NULL
    TRUNCATE TABLE #TruckTypes;
ELSE
    CREATE TABLE #TruckTypes (
        TruckType NVARCHAR(50),
        MaxCrate INT,
        Priority INT,
        ExcessThreshold INT
    );

INSERT INTO #TruckTypes (TruckType, MaxCrate, Priority, ExcessThreshold)
VALUES 
    --('TRUCK_22', 1200, 1, 180),
    ('TRUCK_10', 730, 2, 109),
    ('TRUCK_06', 434, 3, 65),
    ('TRUCK_04', 132, 4, 19);

IF OBJECT_ID('tempdb..#TruckAssignmentLog') IS NOT NULL
    TRUNCATE TABLE #TruckAssignmentLog;
ELSE
    CREATE TABLE #TruckAssignmentLog (
        Step NVARCHAR(50),
        TruckID NVARCHAR(50),
        Area NVARCHAR(50),
        RecordCount INT,
        TotalQty INT,
        LogDate DATETIME DEFAULT GETDATE()
    );

IF OBJECT_ID('tempdb..#Analysis') IS NOT NULL
    TRUNCATE TABLE #Analysis;
ELSE
    CREATE TABLE #Analysis (
        Area NVARCHAR(50),
        TruckID NVARCHAR(50),
        MaxCrate INT,
        AllocatedQty INT,
        Recommendation NVARCHAR(200),
        CapacityMatchStatus NVARCHAR(50),
        AdditionalSuggestion NVARCHAR(200),
        PO_NO NVARCHAR(50) NULL
    );

-- Modified truck assignment logic
DECLARE @CurrentTruck NVARCHAR(50), @CurrentCapacity INT, @RemainingCapacity INT;
DECLARE @ProductToAllocate NVARCHAR(50), @ProductQuantity INT, @ProductArea NVARCHAR(50);
DECLARE @PreviousArea NVARCHAR(50) = '', @DeliveryID INT, @TruckCounter INT = 1;
DECLARE @TotalQty INT = (SELECT SUM(RecQtyCrate) FROM TblSplitDeliveries), @AllocatedQty INT = 0;
DECLARE @CurrentPO NVARCHAR(50), @CurrentCVCode NVARCHAR(50);

DECLARE @Areas TABLE (Area NVARCHAR(50));
INSERT INTO @Areas (Area)
SELECT DISTINCT Area FROM TblSplitDeliveries;

DECLARE area_cursor CURSOR FOR SELECT Area FROM @Areas;
OPEN area_cursor;
FETCH NEXT FROM area_cursor INTO @ProductArea;

WHILE @@FETCH_STATUS = 0 AND @AllocatedQty < @TotalQty
BEGIN
    DECLARE @RemainingAreaQty INT = (SELECT SUM(RecQtyCrate) FROM TblSplitDeliveries WHERE Area = @ProductArea AND TruckID IS NULL);
    IF @PreviousArea != @ProductArea AND @PreviousArea != ''
        SET @TruckCounter = 1;

    WHILE @RemainingAreaQty > 0
    BEGIN
        SELECT TOP 1
            @CurrentTruck = TruckType + '_' + CAST(@TruckCounter AS NVARCHAR(10)) + '_' + @ProductArea,
            @CurrentCapacity = MaxCrate
        FROM #TruckTypes
        WHERE (@ProductArea IN ('HY', 'ST', 'NR') OR TruckType != 'TRUCK_22')
        ORDER BY Priority ASC;

        IF @CurrentTruck IS NULL BREAK;

        SET @RemainingCapacity = @CurrentCapacity;
        SET @TruckCounter = @TruckCounter + 1;

        WHILE @RemainingCapacity > 0 AND @RemainingAreaQty > 0
        BEGIN
            SELECT TOP 1 
                @DeliveryID = sd.DeliveryID,
                @ProductToAllocate = sd.ProductCode,
                @ProductQuantity = sd.RecQtyCrate,
                @CurrentPO = sd.PO_NO,
                @CurrentCVCode = sd.CV_CODE
            FROM TblSplitDeliveries sd
            JOIN #POTracking pt ON sd.PO_NO = pt.PO_NO
            WHERE sd.TruckID IS NULL 
                AND sd.Area = @ProductArea
                AND pt.IsCompleted = 0
            ORDER BY sd.PO_NO, sd.CV_CODE, sd.RecQtyCrate DESC, sd.DeliveryID;

            IF @DeliveryID IS NULL BREAK;

            IF @AllowSplit = 1  -- Original splitting logic
            BEGIN
                IF @ProductQuantity <= @RemainingCapacity
                BEGIN
                    UPDATE TblSplitDeliveries
                    SET TruckID = @CurrentTruck
                    WHERE DeliveryID = @DeliveryID;

                    UPDATE #POTracking
                    SET AssignedCrates = AssignedCrates + @ProductQuantity,
                        IsCompleted = CASE WHEN AssignedCrates + @ProductQuantity >= TotalCrates THEN 1 ELSE 0 END
                    WHERE PO_NO = @CurrentPO;

                    SET @RemainingCapacity = @RemainingCapacity - @ProductQuantity;
                    SET @AllocatedQty = @AllocatedQty + @ProductQuantity;
                    SET @RemainingAreaQty = @RemainingAreaQty - @ProductQuantity;
                END
                ELSE IF @RemainingCapacity > 0
                BEGIN
                    DECLARE @QtyToAssign INT = @RemainingCapacity;
                    
                    UPDATE TblSplitDeliveries
                    SET RecQtyCrate = RecQtyCrate - @QtyToAssign,
                        TruckID = CASE WHEN RecQtyCrate = @QtyToAssign THEN @CurrentTruck ELSE TruckID END
                    WHERE DeliveryID = @DeliveryID;

                    IF @QtyToAssign < @ProductQuantity
                    BEGIN
                        INSERT INTO TblSplitDeliveries (ProductCode, RecQtyCrate, Area, TruckID, OriginalProductCode, PO_NO, CV_CODE)
                        VALUES (@ProductToAllocate, @QtyToAssign, @ProductArea, @CurrentTruck, @ProductToAllocate, @CurrentPO, @CurrentCVCode);
                    END

                    UPDATE #POTracking
                    SET AssignedCrates = AssignedCrates + @QtyToAssign,
                        IsCompleted = CASE WHEN AssignedCrates + @QtyToAssign >= TotalCrates THEN 1 ELSE 0 END
                    WHERE PO_NO = @CurrentPO;

                    SET @AllocatedQty = @AllocatedQty + @QtyToAssign;
                    SET @RemainingAreaQty = @RemainingAreaQty - @QtyToAssign;
                    SET @RemainingCapacity = 0;
                END
            END
            ELSE  -- No splitting: assign full quantity or skip
            BEGIN
                IF @ProductQuantity <= @RemainingCapacity
                BEGIN
                    UPDATE TblSplitDeliveries
                    SET TruckID = @CurrentTruck
                    WHERE DeliveryID = @DeliveryID;

                    UPDATE #POTracking
                    SET AssignedCrates = AssignedCrates + @ProductQuantity,
                        IsCompleted = CASE WHEN AssignedCrates + @ProductQuantity >= TotalCrates THEN 1 ELSE 0 END
                    WHERE PO_NO = @CurrentPO;

                    SET @RemainingCapacity = @RemainingCapacity - @ProductQuantity;
                    SET @AllocatedQty = @AllocatedQty + @ProductQuantity;
                    SET @RemainingAreaQty = @RemainingAreaQty - @ProductQuantity;
                END
                ELSE
                BEGIN
                    -- Skip this delivery if it doesn't fit entirely; move to next truck
                    SET @RemainingCapacity = 0; -- Force new truck selection
                END
            END
        END;

        INSERT INTO #TruckAssignmentLog (Step, TruckID, Area, RecordCount, TotalQty)
        SELECT 'InitialAssignment', TruckID, Area, COUNT(*), SUM(RecQtyCrate)
        FROM TblSplitDeliveries
        WHERE TruckID = @CurrentTruck
        GROUP BY TruckID, Area;
    END;
    SET @PreviousArea = @ProductArea;
    FETCH NEXT FROM area_cursor INTO @ProductArea;
END;
CLOSE area_cursor;
DEALLOCATE area_cursor;

-- Remaining logic (truck updates, over-capacity handling, pallet calculation) remains unchanged
UPDATE TblSplitDeliveries
SET TruckID = LEFT(TruckID, CHARINDEX('_', TruckID, CHARINDEX('_', TruckID) + 1)) + '_' + Area
WHERE TruckID IS NOT NULL 
    AND RIGHT(TruckID, LEN(Area)) != Area;

UPDATE dbo.Deliveries SET TruckID = NULL;
UPDATE d 
SET TruckID = sd.TruckID
FROM dbo.Deliveries d
JOIN TblSplitDeliveries sd 
    ON d.ProductCode = sd.OriginalProductCode 
    AND d.Area = sd.Area
WHERE sd.TruckID IS NOT NULL 
    AND RIGHT(sd.TruckID, LEN(d.Area)) = d.Area;

INSERT INTO #TruckAssignmentLog (Step, TruckID, Area, RecordCount, TotalQty)
SELECT 'PostUpdate', TruckID, Area, COUNT(*), SUM(RecQtyCrate)
FROM TblSplitDeliveries
WHERE TruckID IS NOT NULL
GROUP BY TruckID, Area;

INSERT INTO #Analysis
SELECT 
    sd.Area,
    sd.TruckID,
    tt.MaxCrate,
    SUM(sd.RecQtyCrate) AS AllocatedQty,
    '' AS Recommendation,
    '' AS CapacityMatchStatus,
    '' AS AdditionalSuggestion,
    sd.PO_NO
FROM TblSplitDeliveries sd
JOIN #TruckTypes tt ON LEFT(sd.TruckID, 8) = tt.TruckType
GROUP BY sd.Area, sd.TruckID, tt.MaxCrate, sd.PO_NO;

-- Over-capacity handling remains unchanged
DECLARE @OverCapacityTruck NVARCHAR(50), @OverCapacityArea NVARCHAR(50), @OverCapacityQty INT, @OverCapacityMaxCrate INT, @NewTruckID NVARCHAR(50);
DECLARE @LoopCounter INT = 0;
DECLARE over_capacity_cursor CURSOR FOR 
    SELECT TruckID, Area, AllocatedQty, MaxCrate 
    FROM #Analysis 
    WHERE AllocatedQty > MaxCrate;

OPEN over_capacity_cursor;
FETCH NEXT FROM over_capacity_cursor INTO @OverCapacityTruck, @OverCapacityArea, @OverCapacityQty, @OverCapacityMaxCrate;

WHILE @@FETCH_STATUS = 0 AND @LoopCounter < 1000
BEGIN
    SET @LoopCounter = @LoopCounter + 1;
    DECLARE @ExcessQty INT = @OverCapacityQty - @OverCapacityMaxCrate;
    DECLARE @MovedQty INT = 0;

    WHILE @MovedQty < @ExcessQty
    BEGIN
        SELECT TOP 1
            @NewTruckID = TruckType + '_' + CAST(@TruckCounter AS NVARCHAR(10)) + '_' + @OverCapacityArea,
            @CurrentCapacity = MaxCrate
        FROM #TruckTypes
        WHERE (@OverCapacityArea IN ('HY', 'ST', 'NR') OR TruckType != 'TRUCK_22')
            AND MaxCrate >= CASE WHEN @ExcessQty - @MovedQty > 730 THEN 730 ELSE @ExcessQty - @MovedQty END
        ORDER BY Priority ASC;

        IF @NewTruckID IS NULL
            SELECT TOP 1
                @NewTruckID = TruckType + '_' + CAST(@TruckCounter AS NVARCHAR(10)) + '_' + @OverCapacityArea,
                @CurrentCapacity = MaxCrate
            FROM #TruckTypes
            WHERE (@OverCapacityArea IN ('HY', 'ST', 'NR') OR TruckType != 'TRUCK_22')
            ORDER BY Priority ASC;

        IF @NewTruckID IS NULL BREAK;

        SET @TruckCounter = @TruckCounter + 1;
        SET @RemainingCapacity = @CurrentCapacity;

        WHILE @RemainingCapacity > 0 AND @MovedQty < @ExcessQty
        BEGIN
            SELECT TOP 1 
                @DeliveryID = DeliveryID,
                @ProductToAllocate = ProductCode,
                @ProductQuantity = RecQtyCrate
            FROM TblSplitDeliveries
            WHERE TruckID = @OverCapacityTruck AND RecQtyCrate > 0
            ORDER BY RecQtyCrate ASC;

            IF @DeliveryID IS NULL BREAK;

            IF @ProductQuantity <= @RemainingCapacity AND @ProductQuantity <= (@ExcessQty - @MovedQty)
            BEGIN
                UPDATE TblSplitDeliveries
                SET TruckID = @NewTruckID
                WHERE DeliveryID = @DeliveryID;
                SET @MovedQty = @MovedQty + @ProductQuantity;
                SET @RemainingCapacity = @RemainingCapacity - @ProductQuantity;
            END
            ELSE
            BEGIN
                DECLARE @QtyToMove INT = CASE WHEN @RemainingCapacity < (@ExcessQty - @MovedQty) THEN @RemainingCapacity ELSE (@ExcessQty - @MovedQty) END;
                UPDATE TblSplitDeliveries
                SET RecQtyCrate = RecQtyCrate - @QtyToMove
                WHERE DeliveryID = @DeliveryID;

                INSERT INTO TblSplitDeliveries (ProductCode, RecQtyCrate, Area, TruckID, OriginalProductCode, PO_NO, CV_CODE)
                VALUES (@ProductToAllocate, @QtyToMove, @OverCapacityArea, @NewTruckID, @ProductToAllocate, 
                        (SELECT PO_NO FROM TblSplitDeliveries WHERE DeliveryID = @DeliveryID),
                        (SELECT CV_CODE FROM TblSplitDeliveries WHERE DeliveryID = @DeliveryID));
                SET @MovedQty = @MovedQty + @QtyToMove;
                SET @RemainingCapacity = @RemainingCapacity - @QtyToMove;
            END
        END;

        INSERT INTO #TruckAssignmentLog (Step, TruckID, Area, RecordCount, TotalQty)
        SELECT 'OverCapacityAdjustment', TruckID, Area, COUNT(*), SUM(RecQtyCrate)
        FROM TblSplitDeliveries
        WHERE TruckID = @NewTruckID
        GROUP BY TruckID, Area;
    END;

    DELETE FROM TblSplitDeliveries
    WHERE TruckID = @OverCapacityTruck AND RecQtyCrate <= 0;

    DELETE FROM #Analysis;
    INSERT INTO #Analysis
    SELECT 
        sd.Area,
        sd.TruckID,
        tt.MaxCrate,
        SUM(sd.RecQtyCrate) AS AllocatedQty,
        '' AS Recommendation,
        '' AS CapacityMatchStatus,
        '' AS AdditionalSuggestion,
        sd.PO_NO
    FROM TblSplitDeliveries sd
    JOIN #TruckTypes tt ON LEFT(sd.TruckID, 8) = tt.TruckType
    GROUP BY sd.Area, sd.TruckID, tt.MaxCrate, sd.PO_NO;

    FETCH NEXT FROM over_capacity_cursor INTO @OverCapacityTruck, @OverCapacityArea, @OverCapacityQty, @OverCapacityMaxCrate;
END;

CLOSE over_capacity_cursor;
DEALLOCATE over_capacity_cursor;

-- Modified Truck Adjustment logic to reset running number for each TruckType
WITH TruckSummary AS (
    SELECT 
        sd.Area,
        sd.TruckID,
        SUM(sd.RecQtyCrate) AS TotalQty,
        tt.MaxCrate,
        tt.ExcessThreshold,
        CASE 
            WHEN SUM(sd.RecQtyCrate) <= 132 THEN 'TRUCK_04'
            WHEN SUM(sd.RecQtyCrate) <= 434 THEN 'TRUCK_06'
            WHEN SUM(sd.RecQtyCrate) <= 730 THEN 'TRUCK_10'
            WHEN SUM(sd.RecQtyCrate) <= 1200 AND sd.Area IN ('HY', 'ST', 'NR') THEN 'TRUCK_22'
            WHEN SUM(sd.RecQtyCrate) <= 1200 THEN 'TRUCK_10'
            ELSE LEFT(sd.TruckID, 8)
        END AS NewTruckType
    FROM TblSplitDeliveries sd
    JOIN #TruckTypes tt ON LEFT(sd.TruckID, 8) = tt.TruckType
    GROUP BY sd.Area, sd.TruckID, tt.MaxCrate, tt.ExcessThreshold
),
TruckAdjustment AS (
    SELECT 
        Area,
        TruckID,
        NewTruckType + '_' + CAST(ROW_NUMBER() OVER (PARTITION BY Area, NewTruckType ORDER BY TruckID) AS NVARCHAR(10)) + '_' + Area AS NewTruckID
    FROM TruckSummary
)
UPDATE sd
SET sd.TruckID = ta.NewTruckID
FROM TblSplitDeliveries sd
JOIN TruckAdjustment ta 
    ON sd.Area = ta.Area 
    AND sd.TruckID = ta.TruckID;

-- Final SELECT query
SELECT 
    COUNT(ProductCode) AS iSKU,
    SUM(RecQtyCrate) AS TCA,
    Area,
    TruckID,
    PO_NO
FROM TblSplitDeliveries
GROUP BY Area, TruckID, PO_NO
ORDER BY Area, TruckID, PO_NO