SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[LableXdockVendor]
@sRoute nvarchar(20),@fRoute nvarchar(20) 
AS
SET NOCOUNT ON;
	truncate table TempLable;
	IF OBJECT_ID('tempdb..#tempcte') is not null
	drop table #tempcte

	;WITH cte AS (
	  SELECT DISTINCT d.*,a.iDate,
		  a.[Route],
		  a.TruckId AS xtruck,
		  a.Door,
		  a.Station,
		  MIN(a.iRow) OVER (PARTITION BY station, a.TruckID ORDER BY station, iRow) AS x_base,
		  SUM(d.RecQtyCrate) OVER (PARTITION BY d.TruckID ORDER BY d.TruckID, PO_NO, CV_CODE) AS running_total,
		  SUM(d.RecQtyCrate) OVER (PARTITION BY d.TruckID) AS total_recqty_per_truck
	  FROM [iMportGen].[dbo].TblSplitDeliveries d
	  left JOIN [SmartX-Dock]..TblAssignDock a
	   ON CAST(REPLACE(LEFT(RIGHT(d.TruckID, 5), 2), '_', '') AS INT) = RIGHT(a.[Route], 1)
	   AND d.Area = a.whName
	   AND CAST(right(left(d.TruckID ,8),2) AS INT) = a.TruckType
	   left join [SmartX-Dock]..Tbl_WH w
	   on d.Area = w.WH_Name
	  WHERE a.iDate >= CAST(getdate() as date)
	 )
	 SELECT distinct iDate,ProductCode, RecQtyCrate, Area, TruckID, OriginalProductCode, PO_NO, CV_CODE, Route, xtruck,
		 CASE 
		  WHEN  running_total <= total_recqty_per_truck / 2.0 THEN x_base
		  WHEN station  in ('ST06','ST07') THEN x_base
		  WHEN x_base IN ('D1','D2') THEN x_base
		  ELSE 'R' + RIGHT('0' + CAST(CAST(RIGHT(x_base, 2) AS INT) + 1 AS VARCHAR(2)), 2)
		 END AS x,
		 Door,
		 Station,
		 DENSE_RANK() OVER (PARTITION BY TruckID ORDER BY FLOOR(CAST(running_total AS nvarchar) / 34) ) AS pallet_number,  -- รันเลขต่อเนื่อง
		 running_total, total_recqty_per_truck  -- เพิ่มเพื่อดูผลรวมสะสมและผลรวมทั้งหมด
		 INTO #tempcte
	 FROM cte
	 ORDER BY TruckID, PO_NO, CV_CODE;
	 --select * from #tempcte

	 IF OBJECT_ID('tempdb..#masterdate') is not null
	drop table #masterdate
	 SELECT Route, whName, MAX(iDate) AS LatestDeliveryDate 
	 INTO #masterdate FROM [SmartX-Dock].[dbo].[TblAssignDock] GROUP BY Route, whName

	 --select * from #masterdate

 --'FULL' [Status] '1/1'
INSERT INTO TempLable
SELECT  DELIVERY_DATE AS iDate
,a.PO_NO AS WH
,b.CV_NAME AS Vender
,a.CV_CODE
,NULL AS SeqProduct
,NULL AS CountProduct
,a.ProductCode AS SKU
,PRODUCT_NAME AS SKUname
,RecQty AS QTY
,TCC
,TCO
,a.RecQtyCrate as TCA
,'FULL' [Status]
,'1/1' AS seq
,VENDOR_CARTON AS CRATE
,IIF (LEN(a.Door) < 2 , 'XD0' +a.Door , 'XD' + a.Door ) AS Door
,a.Route
,'' AS Zone
,a.Station
,a.x AS Row
,'' AS iTote
,a.xtruck as TruckNo
,a.pallet_number
--INTO TempLable
  FROM #tempcte a
  LEFT JOIN [SmartX-Dock].[dbo].[WTS_ORR2223Data] b
  ON a.PO_NO = b.PO_NO AND a.ProductCode= b.PRODUCT_CODE AND a.CV_CODE = b.CV_CODE
  JOIN #masterdate c
  ON c.LatestDeliveryDate = b.DELIVERY_DATE AND c.whName = LEFT(b.PO_NO , 2) AND c.Route =a.Route
  WHERE b.TCC <> 0 AND b.TCO = 0 --AND b.DELIVERY_DATE >= CAST(GETDATE() AS Date) 
  ORDER BY a.TruckID ,a.PO_NO , a.CV_CODE;


 ---'OVER' [Status] '1/1
INSERT INTO TempLable
SELECT  DELIVERY_DATE AS iDate
,a.PO_NO AS WH
,b.CV_NAME AS Vender
,a.CV_CODE
,NULL AS SeqProduct
,NULL AS CountProduct
,a.ProductCode AS SKU
,PRODUCT_NAME AS SKUname
,RecQty AS QTY
,TCC
,TCO
,a.RecQtyCrate as TCA
,'OVER' [Status]
,'1/1' AS seq
,VENDOR_CARTON AS CRATE
,IIF (LEN(a.Door) < 2 , 'XD0' + a.Door , 'XD' + a.Door ) AS Door
,a.Route
,'' AS Zone
,a.Station
,a.x AS Row
,'' AS iTote
,a.xtruck as TruckNo
,a.pallet_number
--INTO TempLable
  FROM #tempcte a
  LEFT JOIN [SmartX-Dock].[dbo].[WTS_ORR2223Data] b
  ON a.PO_NO = b.PO_NO AND a.ProductCode= b.PRODUCT_CODE AND a.CV_CODE = b.CV_CODE
  JOIN #masterdate c
  ON c.LatestDeliveryDate = b.DELIVERY_DATE AND c.whName = LEFT(b.PO_NO , 2) AND c.Route =a.Route
  --WHERE  b.DELIVERY_DATE >= CAST(GETDATE() AS Date) 
  AND b.TCC = 0 AND b.TCO <> 0 --and Route = '07104' 
  --AND a.PO_NO like '%CM%'
  ORDER BY a.TruckID ,a.PO_NO , a.CV_CODE;


--'FULL' [Status] '1/2'
INSERT INTO TempLable
SELECT  DELIVERY_DATE AS iDate
,a.PO_NO AS WH
,b.CV_NAME AS Vender
,a.CV_CODE
,NULL AS SeqProduct
,NULL AS CountProduct
,a.ProductCode AS SKU
,PRODUCT_NAME AS SKUname
,RecQty AS QTY
,TCC
,TCO
,a.RecQtyCrate as TCA
,'FULL' [Status]
,'1/2' AS seq
,VENDOR_CARTON AS CRATE
,IIF (LEN(a.Door) < 2 , 'XD0' + a.Door , 'XD' + a.Door ) AS Door
,a.Route
,'' AS Zone
,a.Station
,a.x AS Row
,'' AS iTote
,a.xtruck as TruckNo
,a.pallet_number
--INTO TempLable
   FROM #tempcte a
  INNER JOIN [SmartX-Dock].[dbo].[WTS_ORR2223Data] b
  ON a.PO_NO = b.PO_NO AND a.ProductCode = b.PRODUCT_CODE
  JOIN #masterdate c
  ON c.LatestDeliveryDate = b.DELIVERY_DATE AND c.whName = LEFT(b.PO_NO , 2) AND c.Route =a.Route
  WHERE b.TCC <> 0 AND b.TCO <> 0
 --AND b.DELIVERY_DATE >= CAST(GETDATE() AS Date)-- and Route = '07104' 
  --and a.PO_NO like '%CM%'
  ORDER BY a.TruckID ,a.PO_NO , a.CV_CODE;


--'OVER' [Status] '2/2'
INSERT INTO TempLable
SELECT  DELIVERY_DATE AS iDate
,a.PO_NO AS WH
,b.CV_NAME AS Vender
,a.CV_CODE
,NULL AS SeqProduct
,NULL AS CountProduct
,a.ProductCode AS SKU
,PRODUCT_NAME AS SKUname
,RecQty AS QTY
,TCC
,TCO
,a.RecQtyCrate as TCA
,'OVER' [Status]
,'2/2' AS seq
,VENDOR_CARTON AS CRATE
,IIF (LEN(a.Door) < 2 , 'XD0' + a.Door , 'XD' + a.Door ) AS Door
,a.Route
,'' AS Zone
,a.Station
,a.x AS Row
,'' AS iTote
,a.xtruck as TruckNo
,a.pallet_number
--INTO TempLable
   FROM #tempcte a
  INNER JOIN [SmartX-Dock].[dbo].[WTS_ORR2223Data] b
  ON a.PO_NO = b.PO_NO AND a.ProductCode = b.PRODUCT_CODE
  JOIN #masterdate c
  ON c.LatestDeliveryDate = b.DELIVERY_DATE AND c.whName = LEFT(b.PO_NO , 2) AND c.Route =a.Route
  WHERE TCC <>0 AND TCO <> 0
  ORDER BY a.TruckID ,a.PO_NO , a.CV_CODE;

  UPDATE T
SET  
 iTote = REPLACE(right('00' + CAST(DATEPART(MM , iDate) AS nvarchar(20)),2) 
                    + CAST(DATEPART(DD , iDate) AS nvarchar(20)) 
                    --+ REPLACE(WH,'-','') 
					+ '0' + RIGHT(STUFF(REPLACE(WH, '-', ''), 3, 0, '0'), 3)  
                    + SKU 
                    + RIGHT(REPLICATE('0', 5) + CAST(QTY AS nvarchar(20)) ,5)
                    + REPLACE(REPLACE(station, 'ST', ''), 'XD', '')
					+ REPLACE(REPLACE(Row , 'R' ,''), 'D' , '')
                    + Route, ' ', '')
FROM [SmartX-Dock].[dbo].[TempLable] T


UPDATE a
SET a.Zone = b.Zone
FROM [SmartX-Dock].[dbo].[TempLable] a ,[SmartX-Dock].[dbo].[tblMasterStation] b
WHERE a.Station = b.StationId

begin try
		update a
			set a.EXP_DATE3 = b.Route
				,a.MFD_DATE3 = b.iTote
				,a.EXP_DATE2 = b.TruckNo
				,a.MFD_DATE2 = b.Station
		--select a.EXP_DATE3 , b.Route
		from WTS_ORR2223 a,TempLable b
		where a.PO_NO = b.WH
		and a.PRODUCT_CODE = b.SKU
		and a.DELIVERY_DATE = b.iDate
	end try
	begin catch
		select ERROR_MESSAGE() 
	end catch


IF OBJECT_ID ('tempdb..#temp') IS NOT NULL
DROP TABLE #temp

SELECT 
DELIVERY_DATE AS iDate
,x.PO_NO AS WH
,x.CV_CODE
,PRODUCT_CODE AS SKU
,ROW_NUMBER() OVER(PARTITION BY DELIVERY_DATE, PO_NO, CV_CODE ORDER BY PRODUCT_CODE) AS SeqProduct
,(SELECT COUNT(DISTINCT PRODUCT_CODE) FROM [SmartX-Dock].[dbo].[WTS_ORR2223Data]
JOIN #masterdate c
  ON c.LatestDeliveryDate = DELIVERY_DATE AND c.whName = LEFT(PO_NO , 2) AND c.Route = EXP_DATE3
  WHERE PO_NO = x.PO_NO AND CV_CODE = x.CV_CODE) AS CountProduct
INTO #temp 
FROM [SmartX-Dock].[dbo].[WTS_ORR2223Data] x
where x.DELIVERY_DATE >= CAST(getdate() as date)


;UPDATE x
SET x.CountProduct = y.CountProduct , 
x.SeqProduct = y.SeqProduct
FROM #temp y,[SmartX-Dock].[dbo].[TempLable] x
WHERE y.iDate = x.iDate AND y.WH = x.WH AND y.CV_CODE = x.CV_CODE AND y.SKU = x.SKU

;with cte as(
SELECT  distinct [iDate],[WH],[Zone],[Station],[Row],[Status],[SeqProduct],[CountProduct],[Vender],[CV_Code],[SKU],[SKUname],[QTY],[TCC],[TCO],[TCA],[Crate],[Door],[Route],[Seq],[iTote],TruckNo,IIF (LEN(pallet_number) < 2 , 'P0' + pallet_number , 'P' + pallet_number ) AS pallet_number
FROM [SmartX-Dock].[dbo].[TempLable] WITH (NOLOCK)
WHERE left([WH],2) BETWEEN @sRoute AND @fRoute --AND Route IS NOT NULL
)
select  * from cte
--where seq <> '2/2'
ORDER BY left(WH,2),CV_CODE,SKU,WH,
  case 
  when Status = 'FULL' AND seq = '1/2' then 1
  when Status = 'OVER' AND seq = '2/2' then 2
  end
--ORDER BY CAST(Route AS INT) ,[iDate] , WH , TruckNo , SKU  , Row , CV_Code,  status

  INSERT INTO [SmartX-Dock].[dbo].[TblStation] 
  SELECT * , NULL , NULL , NULL , NULL FROM TempLable a
  WHERE NOT EXISTS (SELECT 1 FROM [SmartX-Dock].[dbo].[TblStation] b
  WHERE a.iTote = b.iTote AND a.seq = b.seq)

